<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.astrology">
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Astrology">
        <activity
            android:name=".Activities.expertdetails"
            android:exported="false" />
        <activity
            android:name=".Activities.legalPolicy"
            android:exported="false" />
        <activity
            android:name=".Activities.hinduritualsbookingpage"
            android:exported="false" />
        <activity
            android:name=".Activities.vastuExpertBookingPage"
            android:exported="false" />
        <activity
            android:name=".chatRight"
            android:exported="false" />
        <activity
            android:name=".login.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login.VideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.homescreenexpertdetails"
            android:exported="false" />
        <activity
            android:name=".Activities.ExpertProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.chatActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.selectClientRequests"
            android:exported="true" />
        <activity
            android:name=".Activities.requestacceptanceandpay"
            android:exported="true" />
        <activity
            android:name=".Activities.acceptordeclinepage"
            android:exported="false" />
        <activity
            android:name=".Activities.bookingPage"
            android:exported="true" />
        <activity
            android:name=".viewHollders.item"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".loginSignupSeRelated.ExpertSignUp3"
            android:exported="true" />
        <activity
            android:name=".Activities.aboutus"
            android:exported="true" />
        <activity
            android:name=".Activities.faqs"
            android:exported="true" />

        <activity
            android:name=".Activities.aboutteam"
            android:exported="true"
           />
        <activity
            android:name=".loginSignupSeRelated.ExpertSignUp2"
            android:exported="true" />
        <activity
            android:name=".loginSignupSeRelated.ExpertSignUp1"
            android:exported="true" />
        <activity
            android:name=".loginSignupSeRelated.ExpertLogin"
            android:exported="true" />
        <activity
            android:name=".Activities.astrologer"
            android:exported="true" />


        <activity
            android:name=".loginSignupSeRelated.Login"
            android:exported="true" />
        <activity
            android:name=".loginSignupSeRelated.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginSignupSeRelated.loginorsignup"
            android:exported="true" />
        <activity
            android:name=".loginSignupSeRelated.SignUp1"
            android:exported="true" />
        <activity
            android:name=".loginSignupSeRelated.SignUp2"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />

        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>